.layout {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  /* grid-template-areas: ". ." ". ."; */
}

.movie-results-container {
  grid-column-start: 1;
  grid-column-end: 4;
}

.logo-container {
  text-align: left;
}
